$white: #fff;

.box {
  background: $white;
  border-radius: 8px;
  padding: .5em;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5em;
  flex-direction: row;
  width: auto;
  max-width: 80vw;
  overflow: overlay hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  &-item {
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      padding-left: .5em;
    }
    &_title {
      font-size: 13px;
      font-weight: 600;
      opacity: .7;
      padding: 0 .5em .5em 0;
      position: sticky;
      left: 0;
      top: 0;
      width: min-content;
    }
    &_category {
      display: grid;
      grid-gap: 5px;
      p {
        padding: 0 .1em;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
